# Node.js
node_modules/
dist/
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
npm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Vite
.vite/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp