/* src/pages/Home.css */
.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home h2 {
    color: #6B48FF;
    font-weight: 700;
    text-align: center;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    min-height: 500px;
}

.visualization-area {
    display: flex;
    flex-direction: column;
    gap: 20px; }